<br>
<br>
<div class="container row">
  <div class="col s8 m8 l8">

    <table class="highlight centered">
      <thead>
        <tr>
          <th class="col s10"><h4>Marcas</h4></th>
          <th class="col s2"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let marca of marcas">
          <td class="col s10"><input class="validate" style="text-align: center" type="text" value="{{marca.nome}}" (change)="updateMarca(marca, $event.target.value)" required></td>
          <td class="col s2"><a (click)="deleteMarca(marca)"><i class="material-icons">delete</i></a></td>
        </tr>
      </tbody>
    </table>
    
    <div class="divider"></div>
  </div>
  
  <br><br><br><br>

  <div class="col s4 m4 l4">

    <form class="col s12" id="marca-form" (ngSubmit)="addMarca()">
      <br><br>
      <div class="row">

        <h5>Cadastrar nova marca</h5>

        <div class="input-field col s12">

          <input id="nova_marca" name="nova_marca" [(ngModel)]="nova_marca" type="text" class="validate" required>
          <label for="nova_marca">Nova Marca</label>

        </div>

      </div>
 
      <button class="btn waves-effect waves-light" type="submit" (change)="reset();">
        Submit<i class="material-icons right">send</i>
      </button>
      <br><br><br>

    </form>

  </div>
</div>
