input:invalid{
    color: red;
}

input:invalid+span:after {
    content: '✖';
    color: red;
    padding-left: 15px;
}

input:valid+span:after {
    position: absolute;
    content: '✓';
    color: rgb(105, 170, 0);
    padding-left: 15px;
}

input + span {
    padding-right: 30px;
}

img{
    width: inherit;
    height: inherit;
}