<h2>
  Cadastrar novo produto
</h2>

<div class="row">
  <form class="col s12" (ngSubmit)="addProduto()">
    <div class="row">
      <div class="input-field col s6">
        <label for="nome">Nome</label>
        <input id="nome" type="text" class="validate" [(ngModel)]="nome" name="nome" placeholder="1 million 100ml" required/>
        <span class="validity"></span>
      </div>

      <div class="input-field col s6">
        <textarea id="descricao" class="materialize-textarea" [(ngModel)]="descricao" name="descricao" ></textarea>
        <label for="descricao">Descrição</label>
      </div>
    </div>
    
    <br><br>
    
    <div class="row">
      <div class="input-field col s6 ">
        <select class="" name="categorias" materialize="material_select" multiple id="categorias" [(ngModel)]="categorias" required>
          <option value="0" disabled selected>Selecione categorias</option>
          <option *ngFor="let categoria of categorias" [value]="categoria.id">{{ categoria.nome }}</option>
        </select>
      </div>
      <div class="input-field col s6">
        <select id="marca" name="marca" materialize="material_select" (change)="setMarca($event.target.value);" required>
          <option *ngFor="let marca of marcas" [value]="marca.id">{{ marca.nome }}</option>
          <option value="0" disabled selected>Selecione a marca</option>
        </select>
      </div>
    </div>

    <br><br>

    <div class="row">
      <div class="input-field col s3">
        <label for="preco">Preço (R$)</label>
        <input id="preco" type="number" class="validate" [(ngModel)]="preco" name="preco" min="0" step="0.01" placeholder="R$ 150.00" required/>
        <span class="validity"></span>
      </div>
      <div class="col s1"></div>
      <div class="input-field col s3">
        <label for="quantidade">Quantidade</label>
        <input id="quantidade" type="number" class="validate" [(ngModel)]="quantidade" name="quantidade" min="0" step="1" placeholder="15" required/>
        <span class="validity"></span>
      </div>
      <div class="col s1"></div>      
      <div class="input-field col s4">
        <label for="imagem">Imagem</label>
        <br><br>
        <img id="preview" [src]="preview" alt="" /><br>
        <input type="file" name="imagem" id="imagem" accept="image/jpeg, image/x-png" (change)="previewImage($event)" required />
        <span class="validity"></span>        
      </div>
    </div>

    <br><br>

    <button class="btn waves-effect waves-light" type="submit" (change)="reset();">
      Submit<i class="material-icons right">send</i>
    </button>
  </form>
</div>