<div class="row">
  <div *ngFor="let produto of produtoClienteList" class="col s2">
    <div class="card">
      <div class="card-image">
        <span id="precoProduto" class="btn-floating btn-large btn-price waves-effect waves-light pink accent-2">${{ produto.preco }}</span>
        <img id="imagemProduto" src="assets/iphone.png">
        <a id="adicionarCarrinho" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
      </div>
      <div class="card-content">
        <p id="nomeProduto">{{produto.nome}}</p>
      </div>
    </div>
  </div>
</div>